{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="page-header">
      <center><h1>All Docs</h1></center>
    </div>
    {% for doc in docs %}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
             <a href="{{ url_for('download', id=doc['id']) }}"><button type="button" class="btn btn-default btn-lg">
             <span class="glyphicon glyphicon-file" aria-hidden="true">Download</span>
            </button></a>
            <div class="caption">
              <h3>{{ doc['title'] }}</h3>
              <p>{{ doc['note'] }}</p>
              <p><a href="{{ url_for('show', results=doc['id']) }}" class="btn btn-primary" role="button">Open</a> <a href="{{ url_for('delete', id=doc['id']) }}" class="btn btn-default" role="button">Delete</a></p>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
