{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
  <div class="page-header">
    <h1>Upload</h1>
  </div>
  {{ pagedown.include_pagedown() }}
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div><label class="control-label">Title: </label>{{ form.title(class='form-control') }}</div>
    {% for error in form.title.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>
    <label class="control-label">File: </label><br>
    <label class="btn btn-primary" for="my-file-selector">
      {{ form.file(id="my-file-selector", style="display:none;", onchange="$('#upload-file-info').html($(this).val());") }}
          Browse..
    </label>
    <span class='label label-info' id="upload-file-info"></span>
    <div><label class+"control-label"> Description/Note: </label>{{ form.note(class='form-control', only_input=True, rows=6, size=6) }}</div>
    <div><label class+"control-label"> Preview: </label>{{ form.note(class='form-control', only_preview=True, rows=6, size=6) }}</div>
    <input type="submit" value='Upload'/>
  </form>
{% endblock %}